<ion-header>
  <ion-toolbar color="dark">
     <ion-back-button defaultHref="home" color="light"></ion-back-button>
     <ion-title>Sobre o Aplicativo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="all-page">
  <div padding class="animated fadeInDown logo">
    <img src="assets/imgs/logo.png">
  </div>

  <ion-card class="margin-top-bottom">
    <ion-card-content>
      <p><strong> Desenvolvido por: Talita S.T. </strong></p>
      <p><strong> Versão: 1.0 </strong></p>
    </ion-card-content>
  </ion-card>
  <ion-card class="margin-top-bottom">
    <ion-card-header>
      <strong> Aplicativo </strong>
    </ion-card-header>
    <ion-card-content>
      <p>
        O
        <strong>CEEA - Autismo</strong> foi criado com o objetivo de auxiliar profissionais e pais de crianças com o espectro do
        Autismo que apresentam dificuldades em identificar ações e emoções.
      </p>
      <br>
      <p>
        Através de um jogo simples, busca-se desenvolver na criança a capacidade de identificar ações e emoções humanas simples.
      </p>
      <br>
      <p>
        As imagens utilizadas no aplicativo foram encontradas no site <a href="http://educasaac.educa.madrid.org/">EducaSaac</a>.
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>