// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

// http://ionicframework.com/docs/theming/

.imagem{
    height: 180px;
    width: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.imagem-resposta{
    height: 250px;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.botao {
    display: block;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.card {
    margin: auto;
    background-color: white;
    padding: 0px;
    border-radius: 1rem;
    box-shadow: 0 0 1px rgba(86, 61, 124, 0.2), 0 2px 4px rgba(86, 61, 124, 0.15);
}

.margin-top-bottom{
  margin-top: 20px;
  margin-bottom: 20px;
}


.logo{
    height: 250px;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ion-col, ion-card-title {
    font: 18px arial, sans-serif;
    color: #4c6df9;
    text-align: center;
    //font-size: 20px;
    font-weight: bold;
}

p, ion-card-content{
    font: 18px arial, sans-serif;
    text-align: justify;
    //font-size: 20px;
    font-weight: normal;
}

//new

// buttons configs
.btn-facebook {
    background-color: #3B5999;
  }
  
  .btn-twitter {
    background-color: #00ACEE;
  }
  
  .btn-gplus {
    background-color: #E04006
  }

.all-page {
    //--background: linear-gradient(197deg, rgba(100,100,100,1) 0%, rgba(63,63,63,1) 13.5%, rgba(29,29,29,1) 33.33%, rgba(0,0,0,1) 100%) !important;  
  background: var(--background-image) no-repeat center center fixed cover;;
  background-size: cover;
}

// style for auth pages
.auth-page {
    background-color: #fff;
    &::after {
      content: "";
      //background: url("../assets/imgs/bg.jpg") no-repeat;
      background-size: cover;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: 0;
    }
  
    .scroll-content {
      display: flex;
      align-items: center;
      justify-content: center;
      //background: rgba(50, 10, 92, .4);
  
      .login-content {
        width: 86%;
  
        .logo {
          width: 200px;
          height: 200px;
          margin: 20px auto 0;
          border-radius: 10%;
          //background: url("../assets/imgs/logo.png") no-repeat;
          background-size: 100%;
        }

          ion-item {
            background: none;
            padding: 0;
  
            &:first-child {
              border-top: none;
            }
  
            &:after {
              display: none;
            }
  
            ion-label {
              font-size: 1em;
              color: #189ad3;
            }
  
            input {
              color: color(--ion-color-primary);
            }
          }
        }
      }
    }
  

//List CSS

ion-list {
  background: none;
  padding: 0;

  &:first-child {
    border-top: none;
  }

  &:after {
    display: none;
  }

  ion-label {
    font-size: 1em;
    color: color(--ion-color-dark);
  }

  ion-item {
    color: color(--ion-color-primary);
  }
}

// Animate CSS
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
  }
  
  .animated.infinite {
    animation-iteration-count: infinite;
  }
  
  .animated.hinge {
    animation-duration: 2s;
  }
  
  .animated.flipOutX,
  .animated.flipOutY,
  .animated.bounceIn,
  .animated.bounceOut {
    animation-duration: .75s;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }
  
  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      transform: none;
    }
  }
  
  .fadeInDown {
    animation-name: fadeInDown;
  }
  
