<ion-header>
    <ion-toolbar color="dark">
        <ion-back-button defaultHref="home"></ion-back-button>
    <ion-title>Pontuações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="all-page">

  <ion-list class="margin-top-bottom" *ngFor="let score of currentScores">
    <ion-list-header>
      <strong> PARTIDA {{ score.id }}</strong>
    </ion-list-header>
    <ion-item>
      <ion-icon color="success" name="checkmark-circle" item-start></ion-icon>
      <strong>Acertos: </strong>  {{ score.hits }}
    </ion-item>
    <ion-item>
      <ion-icon color="danger" name="close-circle" item-start></ion-icon>
      <strong>Erros: </strong> {{ score.mistakes }}
    </ion-item>
    <ion-item>
      <ion-icon color="dark" name="happy" item-start></ion-icon>
      <strong>Aproveitamento: </strong> {{ score.profit }}%
    </ion-item>
  </ion-list>


</ion-content>
